#acciones {
    display: flex;
    justify-content: space-evenly;
  }

  #mapa {
    height: 100%;
  }


  /* Tambien hacemos que el body y html se expandan */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: purple;
    cursor: pointer;
    border: 2px purple solid;
    background: inherit;
  }
  
  button:hover,
  button:active {
    color: white;
    background-color: purple;
  }
  
  .cta {
    font-weight: bold;
    background: purple;
    color: white;
    border-color: purple;
  }
  
  .cta:active,
  .cta:hover {
    background: white;
    color: purple;
  }

  #info-precio {
    color: purple;
    border: 1px purple dashed;
    padding: 1rem 1.5rem;
    margin: 0;
    display: none;
  }
  
  #info-precio.visible {
    display: unset;
  }

