* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color:#2F3035;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1024px;
  margin-left:auto ;
  margin-right:auto ;
}

header{
  height: 400px;
  text-align: center; 
}
nav{
  background-color: rgba(0, 0, 0, 0.350);
  text-align: center;
  padding: 1rem;   
}

nav a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 222, 124);
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

form {

  font-size:  1rem;
  color: #fac34c;
  background-color:  #0000008c;
  text-align: left;
  padding-bottom: 0.05rem;
}

#acciones {
    display: flex;
    justify-content: space-evenly;
  }

  .map-container{
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #mapa {
    height: 100%;
    
  }


  
  button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: purple;
    cursor: pointer;
    border: 2px purple solid;
    background: inherit;
  }
  
  button:hover,
  button:active {
    color: white;
    background-color: purple;
  }
  
  .cta {
    font-weight: bold;
    background: purple;
    color: white;
    border-color: purple;
  }
  
  .cta:active,
  .cta:hover {
    background: white;
    color: purple;
  }

  #info-precio {
    color: purple;
    border: 1px purple dashed;
    padding: 1rem 1.5rem;
    margin: 0;
    display: none;
  }
  
  #info-precio.visible {
    display: unset;
  }

